<h1>Songs by <%=@artist.name%></h1>

<h3>
    <ul>
        <% @artist.songs.each do |s| %>
            <li><%= link_to s.title, song_path(s) %></li>
        <% end %>
    </ul>
</h3>

<h4><%= pluralize(@artist.song_count, 'Song') %> sung by <%=@artist.name%> </h4>